* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font: 14px/23px sans-serif;
    color: #5d5b5b;
}  
nav {
    position: fixed;
    width: 100%;
    display: flex;
    height: 17%;
    background-color: white;
    padding-right: 30px;
}
nav ion-icon {
    padding: 0px 5px;
    font-size: 20px;
    color: #bd6b5e;
    margin-top: 13px;
}
nav h1 {
    line-height: 50%;
    float: left;
    font-size: 150%;
    color: #f60630;
}
nav ul {
    text-align: right;
    flex: auto;
    padding-left: 150px;
}
nav ul li {
    Font: bold 10px Roboto, Arial, sans-serif;
    padding: 1px 0px; 
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: black;
}
nav li a:visited {
    color: #f60630;
}
#home {
    padding: 100px 10px 0px 10px;
}
#home img {
    width: 100%;
}
#home h1 {
    font-size: 24px;
    font-family: 'Arvo', serif;
    color: black;
    padding-bottom: 10px;
    margin: 0px;
}
#home a {
    border: 1px solid #f60630;
    border-radius: 25px;
    padding: 7px 10px;
    text-decoration: none;
    color: #f60630;
    font-size: 80%;
}
#home a:hover {
    background-color: #f60630;
    color: #ffffff;
}
h2 {
    text-align: center;
    font-family: 'Arvo', serif;
    color: black;
    margin-bottom: 2px;
    margin-top: 40px;
    padding-top: 30px;
}
hr {
    margin: auto;
    border-color: #f60630;
    background-color: #f60630;
    border-style: solid;
    width: 30px;
    border-width: 1px;
}
#section_one {
    margin-top: 30px;
}
.inner_div {
    width: 80%;
    text-align: center;
    padding: 0px 3px;
    font-size: 12px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px 2px #ddd;
    cursor: pointer;
}
.inner_div ion-icon {
    font-size: 15px;
    color: #f60630;
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    margin-top: 9px;
}
.inner_div h3, .inner_div2 h4, .teams h3{
    font-family: 'Arvo', serif;
    font-size: 12px;
    color: #2b2727;
}
#section_two {
    background-color: whitesmoke;
    padding: 20px 10px 20px 10px;
}
#section_two img {
    width: 65%;
    float: right;
    padding: 15px;
}
#section_two h4 {
    font-size: 11px;
    
}
#section_two h2 {
    font-size: 20px;
    text-align: left;
    margin: 0px;
}
#section_two p {
    font-size: 12px;
}
#section_two a {
    border: 1px solid #f60630;
    border-radius: 25px;
    padding: 4px 8px;
    text-decoration: none;
    color: #f60630;
    font-size: 80%;
}
#section_two a:hover {
    background-color: #f60630;
    color: #ffffff;
}
.inner_div2 {
    width: 85%;
    font-size: 12px;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 10px 2px #ddd;
    padding: 1px 8px;
    cursor: pointer;
}
.inner_div2 ion-icon {
    padding: 0px 25px;
    font-size: 17px;
    color: #f60630;
    width: 40px;
    margin-top: 22px;
    float: right;
}
#section_three img {
    max-width: 100%;
}
#team {
    background-color: whitesmoke;
    margin-top: 35px;
    padding: 0px 10px;
}
#team-div {
    margin-top: 35px;
}
.teams  {
    border-width: 1px;
    border-style: ridge;
    background-color: white;
    margin: 0px 8px 25px 8px;
}
.teams .material-icons {
    padding: 11px;
    font-size: 115px;
    float: left;
    background-color: #b5adaf;
    color: #f60630;
}
.teams h3 {
    padding-left: 145px;
    margin-bottom: 0px;
}
.teams h5 {
    padding-left: 145px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
}
.teams p {
    padding-left: 145px;
    font-size: 11px;
    margin-bottom: 0px;
}
.teams ion-icon {
    font-size: 15px;
    color: #121218;
    padding-left: 9px;
}
<<<<<<< HEAD
#pricing {
    padding: 0px 10px;
}
.prices {
    width: 85%;
    font-size: 12px;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 10px 2px #ddd;
    padding: 25px 0px;
    cursor: pointer;
    text-align: center;
}
.prices .fas, .prices .far  {
    background-color: #b5adaf;
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
}
#tint {
    background-color: #f60630;
    color: white;
}
.prices h4 {
    font-size: 20px;
    color: #f60630;
}
small {
    font-size: 10px;
    color: #5d5b5b;
}
.prices h3, .tes h3 {
    font-family: 'Arvo', serif;
    font-size: 14px;
    color: #2b2727; 
    margin: 0;
}
.prices p {
    margin-bottom: 5px;
}
.prices a, .trial a {
    border: 1px solid #f60630;
    background-color: #f60630;
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    font-size: 75%;
}
#testimonial {
    margin-top: 35px;
    text-align: center;
}
#t-section {
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #f60630;
}
.tes {
    padding-top: 30px;
    border: 1px solid white;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    width: 85%;
}
.tes .material-icons {
    font-size: 100px;
    color: #f60630;
}
.tes h5 {
    margin: 0;
    color: #2b2727;
}
.tes p {
    font-size: 12px;
}
.trial {
    padding: 0px 10px;
    font-size: 12px;
    text-align: left;
}
.trial h2{
    text-align: left;
}
form {
    width: 85%;
    margin: 20px auto;
}
input, textarea {
    display: block;
    padding: 6px;
    width: 100%;
    border: none;
    border-radius: 3px;
}
button:hover {
 background-color: white;
 color: #f60630;
}
button {
    text-align: left;
    font-size: 85%;
    color: white;
    border: none;
    background-color: #f60630;
    border-radius: 25px;
    padding: 10px 20px;
}
#contact {
    background-color: whitesmoke;
    margin-top: 35px;
    padding-top: 1px;
}
iframe {
    width: 100%;
    padding: 15px;
}
#footer {
    padding: 0px 20px 0px 20px;
}
#footer ul {
    margin-top: 40px;
    list-style: none;
    padding-left: 0px;
}
#logo {
    font-size: 40px;
    color: #f60630;
    margin-top: 40px;
    margin-bottom: 20px;
}
#footer li a {
    padding-right: 30px;
    color: #5d5b5b;
}
#footer li a:visited {
    color: #f60630;
}
#footer h3 {
    font-family: 'Arvo', serif;
    color: #2b2727;
}
.fas, .far {
    color: #f60630;
}
#footer .fas {
    color: #2b2727;
    padding-right: 10px;
}
#footer span {
    padding-left: 27px;
}
#copyright {
    text-align: center;
    border-top: 1px solid #5d5b5b;
}
#copyright span {
    color: #f60630;
    padding-left: 0px;
}
=======
>>>>>>> e6b274ada018e5b069259ee8d58061f0b051b3de
