@media only screen
and (min-device-width: 768px) {
nav {
    height: 50px;
    padding: 0px 50px 0px 50px;
}
nav ion-icon {
    display: inline-block;
    font-size: 36px;
    width: 40px;
}
nav h1 {
    font-weight: 600;
    font-size: 200%;
}
nav ul {
    padding-left: 150px;
}
nav ul li {
    display: inline;
    font-size: 13px;
    padding: 0px 5px;
}
#home {
    padding: 110px 0px 0px 50px;
}
  #home h1 {
    font-size: 28px;
    margin-bottom: 5px;
}
#home img {
    width: 50%;
    float: right;
}
#home a {
    padding: 7px 14px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 85%;
}
#services h2 {
     margin-top: 45px;
}
#section_one {
    height: 750px;  
    padding: 0px 50px;
}
.inner_div {
    width: 45%;
    float: left;
    padding: 15px;
    margin: 0px 15px 25px 15px;
    border-radius: 4px;
}
.inner_div ion-icon {
    font-size: 25px;
    margin: 0;
}
#section_two img {
    width: 50%;
    padding: 28px;
}
#section_two h4 {
    padding-top: 60px;
    padding-left: 50px;
}
#section_two a {
    padding: 7px 14px;
    font-size: 90%;
  margin-left: 50px;
}
#section_two p {
    margin: 30px 0px 30px 0px;
    width: 500px;
    padding-left: 50px;
}
#section_two h2 {
    padding-left: 50px;
}
.inner_div2 {
    width: 220px;
    margin: 35px 0px 10px 0px;
    font-size: 12px;
    border-radius: 2px;
    padding: 1px 0px;
}
 .inner_div2 ion-icon {
   padding: 0px 10px;
  }
#section_three {
    margin-top: 40px;
    padding: 0px 50px;
}
#left-div, #right-div ion-icon {
    float: left;
}
#right-div {
    float: right;
}
#right-div h4 {
    text-align: left;
  }
#left-div h4, #left-div p {
    text-align: right;
}
#right-div p {
   margin-left: 60px;
    text-align: left;
}
#left-div p {
    margin-right: 60px;
}
#section_three img {
       width: 34%;
    padding: 140px 0px 0px 10px;
}
#team{
    margin-top: 130px;
    padding: 0px 50px;
    height: 450px;
}
#team h2 {
    padding-top: 35px;
}
.teams  {
    margin: 0px 16px 16px 16px;
    width: 45%;
    float: left;
}
#pricing {
    padding: 0px 50px;
}
#pricing-section {
        /* height: 450px; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}
.prices {
    width: 30%;
    float: left;
    margin: 25px 11px 25px 11px;
}
#t-section {
    padding: 50px 0;
    background-color: #f60630;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tes {
    width: 29%;
    padding: 15px 2px;
    background-color: #fff;
    border-radius: 5px;
}
.trial {
    padding: 0px 50px;
}
#contact {
    padding: 1px 50px;
}
form {
    width: 90%;
    margin: 20px auto;
    justify-self: flex-start;
}
#name-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#name-email input {
    width: 47%;
}
#sect {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
#logo {
    margin-top: 20px;
}
.section1 {
    width: 42%;
}
}
@media only screen and (min-device-width: 1024px) {
nav {
    padding-left: 100px;
}
nav ul li {
    padding: 0px 13px;
}
#home {
    padding-left: 100px;
    padding-top: 150px;
}
#home img {
    width: 50%;
    float: right;
    margin-right: 30px;
}
#home h1 {
    font-weight: 800;
}
#services {
    margin-top: 130px;
}
#section_one {
  height: 680px;
    margin-top: 60px;
    padding: 0px 50px;
}
.inner_div {
  margin: 0px 29px 24px 29px;
  width: 42%;
}
#section_two {
    padding: 50px 0px 50px 0px;
}
#section_two img {
    width: 35%;
    margin-right: 100px;
  padding: 0px;
}
#section_two h4 {
    padding-top: 100px;
    padding-left: 100px;
}
#section_two a {
    margin-left: 100px;
}
#section_two p {
    padding-left: 100px;
    margin: 10px 0px;
}
#section_two h2 {
    padding-left: 100px;
}
.inner_div2 {
   margin: 30px 10px 30px 10px;
   width: 260px;
}
#section_three {
    padding: 0px 100px;
}
#right-div .inner_div2 {
     width: 250px;
   }
#left-div h4, #left-div p {
    text-align: right;
}
#right-div h4, #right-div p {
     text-align: left;
   }
#right-div p {
    margin-right: 20px;
}
#section_three img {
    width: 33%;
    padding-left: 0px;
    padding-top: 85px;
}
#team {
    padding: 0px 100px;
}
.teams {
    margin: 0px 20px 16px 20px;
}
.prices {
    margin-right: 19px;
}
.tes {
    margin-right: 21px;
}
#contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-top: 30px;
}
#contact-form {
    width: 50%;
    box-sizing: border-box;
}
#footer {
    padding: 0px 50px 0px 50px;
}
.section1 {
    width: 25%;
}
}
@media only screen and (min-device-width: 1440px) {
nav {
    height: 60px;
}
nav ion-icon {
    padding: 0px 5px;
    font-size: 45px;
    margin-top: 13px;
}
nav h1 {
    line-height: 60%;
    font-size: 240%;
}
 nav ul li {
   font-size: 17px;
   padding: 0px 15px;
  }
#home {
    padding: 200px 0px 0px 100px;
}
#home img {
    width: 50%;
}
#home h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
#home p {
    font-size: 13px;
    margin-bottom: 35px;
   }
#home a {
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
    font-size: 100%;
}
#services {
  margin-top: 310px;
}
#section_one {
    height: 550px;
}
.inner_div {
    width: 375px;
    padding: 25px;
    margin: 0px 35px 30px 35px;
}
#section_two {
    padding: 100px;
    font-size: 30px;
}
#section_two h4 {
  padding-top: 60px;
    font-size: 13px;
    padding-left: 0px;
}
#section_two a {
    padding: 7px 14px;
    font-size: 45%;
    margin: 0px;
}
#section_two p {
    margin: 30px 0px 30px 0px;
   width: 545px;
   padding-left: 0px;
  }
#section_two h2 {
    text-align: left;
    padding-left: 0px;
}
#section_two img {
  width: 33%;
    padding: 25px;
  }
.inner_div2 {
    width: 345px;
    padding: 15px;
    font-size: 14px;
} 
.inner_div2 h4 {
    font-size: 12px;
}
#section_three {
   margin-top: 50px;
}
ion-icon {
    font-size: 25px;
}
#right-div .inner_div2 {
  width: 345px;
}
#right-div p {
    width: 175px;
  }
#section_three img {
    width: 41%;
    padding-top: 22px;
}
#team {
    padding: 0px 100px;
}
.teams {
    width: 40%;
    margin: 0px 62px 20px 62px;
}
.teams ion-icon {
    padding-top: 10px;
}
.prices {
    width: 26%;
    padding: 45px 0px;
}
.prices h4 {
    font-size: 30px;
}
.prices h3 {
    font-size: 20px;
}
.prices p {
    font-size: 17px;
    margin-bottom: 25px;
}
.prices a {
    font-size: 145%;
}
.trial {
    font-size: 20px;
}
#contact-section {
    padding: 0px;
}
#contact-form {
    width: 60%;
    margin: 20px 50px 20px 0px;
}
iframe {
    width: 145%;
}
}